[Desktop Entry]
Comment=Светлая голубая тема верхней панели Неру v3.0
Name=Неру-голубая светлая
X-KDE-PluginInfo-Author=Sadrlimanov Ramil Rashitovich
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=neru-aurоrае-light
X-KDE-PluginInfo-Version=3.0.0
